<% level ||= 0 %>
<% col = 255 - level * 5 %>
<% params.each do |param| %>
  <% if !param[:show] %>
    <%= render(:partial => "params", :locals => {:level => level, :params => param[:params]}) unless param[:params].blank? %>
    <% next %>
  <% end %>
  <tr style='background-color:rgb(<%= "#{col},#{col},#{col}" %>);'>
    <td>
      <strong><%= param[:full_name] %> </strong><br>
      <small>
        <%= param[:required] ? t('apipie.required') : t('apipie.optional') %>
        <%= param[:allow_nil] ? ', '+t('apipie.nil_allowed') : '' %>
      </small>
    </td>
    <td>
      <%= param[:description].html_safe %>
      <% unless param[:validator].blank? %>
        <br>
        Value: <%= Apipie.markup_to_html(param[:validator]).html_safe %>
      <% end %>

      <% unless param[:metadata].blank? %>
        <br>
        Metadata:
        <%= render(:partial => "metadata", :locals => {:meta => param[:metadata]}) %>
      <% end %>

    </td>

  </tr>

  <%= render(:partial => "params", :locals => {:level => level + 1, :params => param[:params]}) unless param[:params].blank? %>
<% end %>
