<ul>
  <% params.each do |param| %>
    <% if !param[:show] %>
      <%= render(:partial => "params_plain", :locals => {:params => param[:params]}) unless param[:params].blank? %>
      <% next %>
    <% end %>
    <li>
      <strong><%= param[:name] %> </strong>:
      <small>
        <%= param[:required] ? t('apipie.required') : t('apipie.optional') %>
        <%= param[:allow_nil] ? ', '+t('apipie.nil_allowed') : '' %>
        <% if param[:validator] %>
          [ <%= Apipie.markup_to_html(param[:validator]).html_safe %> ]
        <% end %>
      </small>
      <%= param[:description].html_safe %>
    </li>
    <%= render(:partial => "params_plain", :locals => {:params => param[:params]}) unless param[:params].blank? %>
  <% end %>
</ul>
