<ul class='breadcrumb'>
  <li><a href='<%= @doc[:doc_url] %>.html'><%= @doc[:name] %></a><span class='divider'>/</span></li>
  <li class='active'><%= @resource[:name] %></li>
</ul>

<div class='page-header'>
  <h1>
    <%= @resource[:name] %><br>
    <small><%= raw @resource[:short_description] %></small>
  </h1>
</div>

<% unless @resource[:full_description].blank? %>
  <div><%= raw @resource[:full_description] %></div>
<% end %>

<% unless @resource[:formats].blank? %>
  <h2>Supported Formats</h2>
  <%= @resource[:formats].join(', ') %>
<% end %>

<div class='accordion' id='accordion'>

  <% @resource[:methods].each do |m| %>
    <hr>
    <div class='pull-right small'>
      <a href='<%= m[:doc_url] %>.html'> >>> </a>
    </div>
    <div>
      <% m[:apis].each do |api| %>
        <h2>
          <a href='#description-<%= m[:name] %>'
           class='accordion-toggle'
           data-toggle='collapse'
           data-parent='#accordion'>
            <%= api[:http_method] %> <%= api[:api_url] %>
          </a><br>
          <small><%= raw api[:short_description] %></small>
        </h2>
      <% end %>
    </div>

    <% unless m[:see_url].blank? %>
      Also see <%= link_to m[:see], m[:see_url] %>
    <% end %>

    <div id='description-<%= m[:name] %>' class='collapse accordion-body'>
      <%= raw m[:full_description] %>

      <% unless m[:formats].blank? %>
        <h3>Supported Formats</h3>
        <%= m[:formats].join(', ') %>
      <% end %>

      <% unless m[:errors].blank? %>
        <h3>Errors</h3>
        <% m[:errors].each do |err| %>
          <%= err[:code] %>
          <%= err[:description] %>
          <br>
        <% end %>
      <% end %>

      <% unless m[:examples].blank? %>
        <h3>Examples</h3>
        <% m[:examples].each do |example| %>
          <pre class="prettyprint"><%= example %></pre>
        <% end %>
      <% end %>

      <% unless m[:params].blank? %>
        <h3>Params</h3>
        <table class='table'>
          <thead>
            <tr>
              <th>Param name</th>
              <th>Description</th>
            </tr>
          </thead>
          <tbody>
            <%= render(:partial => "params", :locals => {:params => m[:params]}) %>
          </tbody>
        </table>
      <% end %>
    </div>
  <% end %>
</div>

<% content_for :apipie_footer do %>
  <%= raw @doc[:copyright] %>
<% end %>
